{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Genres {% endblock %}</h1>
    <div class="content">
        {% for genre in genres %}
            <div class="genre">
                <p><b>#{{ genre.id }}</b></p>
                <b>
                    <p class="name">
                        <a href="{{ url_for('genre', genre_id=genre.id)}}">{{ genre.name }}</a>
                    </p>
                </b>
                <form method="POST"
                        action="{{ url_for('delete_genre', genre_id=genre.id) }}">
                    <input type="submit" value="Delete Genre"
                        onclick="return confirm('Are you sure you want to delete this entry?')">
                </form>
            </div>
        {% endfor %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert('{{ messages[0] }}');
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}
